{{#if model}}
    {{booking-component booking=model}}
    {{else}}
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Sorry, the booking you entered was not found.
    </div>
{{/if}}